[build-system]
requires = ["flit_core >=3.4.0,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "hydromt_wflow"
authors = [
    { name = "Dirk Eilander", email = "dirk.eilander@deltares.nl" },
    { name = "Hélène Boisgontier", email = "helene.boisgontier@deltares.nl" },
]
dependencies = [
    "dask",
    "geopandas>=0.10",
    "hydroengine",
    "hydromt>=0.8",
    "netcdf4",
    "numpy",
    "pandas",
    "pyflwdir>=0.5.7",
    "pyproj",
    "rioxarray",
    "scipy",
    "shapely",
    "toml",
    "xarray",
]
requires-python = ">=3.9"
readme = "README.rst"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Hydrology",
    "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
    "Programming Language :: Python :: 3",
]
dynamic = ['version', 'description']

[project.optional-dependencies]
io = [
    "requests",
]
extra = [
    "pyet",
]
dev = [
    "black",
    "pip>=23.1.2",
]
test = [
    "pytest>=2.7.3", 
    "pytest-cov", 
    "pytest-mock",
    "hydromt_wflow[dev]",
]
doc = [
    "nbsphinx",
    "sphinx",
    "sphinx_design",
    "pydata-sphinx-theme",
    "sphinx_autosummary_accessors",
    "hydromt_wflow[examples,extra]",
]
examples = [
    "jupyterlab",      
    "cartopy",        
    "matplotlib-base",
    "notebook",        
]

full = ["hydromt_wflow[io,extra,dev,test,doc,examples]"]
slim = ["hydromt_wflow[io,extra,examples]"]

[project.urls]
Documentation = "http://deltares.github.io/hydromt_wflow/latest/"
Source = "https://github.com/Deltares/hydromt_wflow"

[project.entry-points."hydromt.models"]
wflow = "hydromt_wflow.wflow:WflowModel"
wflow_sediment = "hydromt_wflow.wflow_sediment:WflowSedimentModel"

[tool.make_env]
channels = ["conda-forge"]
deps_not_in_conda  = [
    "gwwapi",
    "hydroengine",
    "sphinx_autosummary_accessors",
    "sphinx_design",
    "pyet",
]

[tool.black]
line-length = 88
target-version = ['py39']

[tool.flit.sdist]
include = ["hydromt_wflow"]
exclude = ["docs", "examples", "envs", "tests", "binder", ".github"]

[tool.pytest.ini_options]
filterwarnings = [
    "ignore:distutils Version classes are deprecated:DeprecationWarning",
    "ignore:The staticmaps property:DeprecationWarning",
    "ignore:The staticgeoms property:DeprecationWarning",
]
