name: Compare performance against previous benchmark

on:
  workflow_dispatch:


jobs:
  test:
    defaults:
      run:
        shell: bash -l {0}

    name: Record benchmark
    runs-on: "ubuntu-latest"

    steps:
      - name: Checkout source
        uses: actions/checkout@v5

      - name: Setup pixi env
        uses: prefix-dev/setup-pixi@v0.9.2
        with:
          pixi-version: "v0.59.0"
          environments: test-full-py311
          locked: false
          cache: true

      - name: Tests
        run: |
            pixi run --locked -e test-full-py311 benchmark-compare
