name: Build and Upload HydroMT-Wflow to PyPI

on:
  release:
    types:
      - published
  push:
    tags:
      - v*
  workflow_dispatch:

jobs:
  build-artifacts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Generate build environment
        run: pip install build tomli twine wheel

      - name: Build artifacts
        run: |
          python -m build --sdist
          python -m build --wheel
          python -m twine check dist/*

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: releases
          path: dist

  test-wheel:
    needs: build-artifacts
    uses: ./.github/workflows/test.yml
    with:
      use-wheel: true
      artifact-name: releases

  system-test-wheel:
    needs: test-wheel
    uses: ./.github/workflows/system_test.yml
    with:
      use-wheel: true
      artifact-name: releases

  upload-to-test-pypi:
    needs: system-test-wheel
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          name: releases
          path: dist

      - name: Publish package to TestPyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          user: __token__
          password: ${{ secrets.PYPI_TEST_TOKEN }}
          repository-url: https://test.pypi.org/legacy/
          verbose: true
          skip-existing: true

  upload-to-pypi:
    needs: system-test-wheel
    if: github.event_name == 'release'
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          name: releases
          path: dist

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
          verbose: true
