name: System tests

on:
  push:
    branches: [main]
    paths:
      - hydromt_wflow/**/*
      - tests/**/*
      - pixi.lock
      - pyproject.toml
      - .github/workflows/system_test.yml
  pull_request:
    branches: [main]
    paths:
      - hydromt_wflow/**/*
      - tests/**/*
      - pixi.lock
      - pyproject.toml
      - .github/workflows/system_test.yml
  workflow_dispatch:

jobs:
  julia-test:
    runs-on: ubuntu-latest

    steps:
      - name: Setup pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.59.0
      - name: Setup Julia
        uses: julia-actions/setup-julia@v2

      - name: Checkout hydromt_wflow
        uses: actions/checkout@v6
      - name: Checkout Wflow.jl
        uses: actions/checkout@v6
        with:
          repository: Deltares/Wflow.jl
          path: Wflow.jl
          ref: release/v1.0

      - name: Install Wflow
        run: pixi run install-wflow-julia

      - name: Run system tests
        run: pixi run system-test
