name: Test Package

on:
  workflow_call:
    inputs:
      use-wheel:
        description: "Run with provided .whl file if true, or with local source installed if false."
        required: false
        default: false
        type: boolean
      artifact-name:
        required: false
        default: ""
        type: string
  push:
    branches: [main, release/**, ci/**]
    paths:
      - hydromt_wflow/**/*
      - tests/**/*
      - pixi.lock
      - pyproject.toml
      - .github/workflows/test.yml
  pull_request:
    branches: [main, release/**, ci/**]
    paths:
      - hydromt_wflow/**/*
      - tests/**/*
      - pixi.lock
      - pyproject.toml
      - .github/workflows/test.yml

jobs:
  test:
    defaults:
      run:
        shell: bash -l {0}
    env:
      branch_name: ${{ github.head_ref || github.ref_name }}

    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
        python-version: ['311', '312', '313']
        include:
          - os: ubuntu-latest
            label: linux-64
          - os: windows-latest
            label: win-64

    name: ${{ matrix.label }} - py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    concurrency:
      group: ${{ github.workflow }}-${{ matrix.os }}-${{ matrix.python-version }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Download built wheel
        if: ${{ inputs.use-wheel }}
        uses: actions/download-artifact@v7
        with:
          name: ${{ inputs.artifact-name }}
          path: dist

      - name: Generate environment name
        run: |
          if [ "${INPUT_USE_WHEEL}" = "true" ]; then
            ENV_NAME="test-wheel-py${{ matrix.python-version }}"
          else
            ENV_NAME="test-full-py${{ matrix.python-version }}"
          fi
          echo "ENV_NAME=$ENV_NAME" >> $GITHUB_ENV
          echo "Pixi environment: $ENV_NAME"

      - name: Setup pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: "v0.59.0"
          environments: ${{ env.ENV_NAME }}
          activate-environment: true
          frozen: true
          cache: true

      - name: Install package
        if: ${{ inputs.use-wheel }}
        run: |
          pixi run -e $ENV_NAME rm -rf hydromt_wflow
          pixi run -e $ENV_NAME python -m pip install dist/*.whl --force-reinstall --no-deps

      - name: Run tests
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: |
            pixi run --no-install -e ${{ env.ENV_NAME }} test --verbose
