name: Test Package

on:
  workflow_call:
    inputs:
      mode:
        description: "source or wheel"
        required: false
        default: source
        type: string
      artifact-name:
        required: false
        default: ""
        type: string
  push:
    branches: [main, release/**]
    paths:
      - hydromt_wflow/**/*
      - tests/**/*
      - pixi.lock
      - pyproject.toml
      - .github/workflows/test.yml
  pull_request:
    branches: [main, release/**]
    paths:
      - hydromt_wflow/**/*
      - tests/**/*
      - pixi.lock
      - pyproject.toml
      - .github/workflows/test.yml

jobs:
  test:
    defaults:
      run:
        shell: bash -l {0}
    env:
      branch_name: ${{ github.head_ref || github.ref_name }}

    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
        python-version: ['311', '312', '313']
        include:
          - os: ubuntu-latest
            label: linux-64
          - os: windows-latest
            label: win-64

    name: ${{ matrix.label }} - py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    concurrency:
      group: ${{ github.workflow }}-${{ matrix.os }}-${{ matrix.python-version }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Download built wheel
        if: inputs.mode == 'wheel'
        uses: actions/download-artifact@v7
        with:
          name: ${{ inputs.artifact-name }}
          path: dist

      - name: Setup pixi env
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: "v0.59.0"
          environments: ${{ inputs.mode == 'wheel' && 'test-wheel-py' + matrix.python-version || 'test-full-py' + matrix.python-version }}
          activate-environment: true
          locked: false
          cache: true

      - name: Install wheel
        if: inputs.mode == 'wheel'
        run: |
          rm -rf hydromt_wflow
          python -m pip install dist/*.whl --force-reinstall --no-deps

      - name: Run tests
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: |
            pixi run --no-install -e ${{ inputs.mode == 'wheel' && 'test-wheel-py' + matrix.python-version || 'test-full-py' + matrix.python-version }} test --verbose
