name: Test Package

on:
  push:
    branches: [main]
    paths:
      - hydromt_wflow/**/*
      - tests/**/*
      - pixi.lock
      - pyproject.toml
      - .github/workflows/test.yml
  pull_request:
    branches: [main]
    paths:
      - hydromt_wflow/**/*
      - tests/**/*
      - pixi.lock
      - pyproject.toml
      - .github/workflows/test.yml

jobs:
  test:
    defaults:
      run:
        shell: bash -l {0}
    env:
      branch_name: ${{ github.head_ref || github.ref_name }}

    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
        python-version: ['311', '312', '313']
        include:
        - os: ubuntu-latest
          label: linux-64
        - os: windows-latest
          label: win-64

    name: ${{ matrix.label }} - py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    concurrency:
      group: ${{ github.workflow }}-${{ matrix.os }}-${{ matrix.python-version }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Setup pixi env
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: "v0.59.0"
          environments: test-full-py${{ matrix.python-version }}
          locked: false
          cache: true
          cache-write: ${{ github.event_name == 'push' && ( github.ref_name == 'main' || github.ref_name == 'feat/migration-hydromt-core-v1' ) }}

      - name: Tests
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: |
            pixi run --locked -e test-full-py${{ matrix.python-version }} test --verbose
